@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
body {
	margin: 0;
	background-color: #f5dc80;
}
.navigation-bar {
	display: flex;
	background-color: #66462c;
	margin: 0;
	padding: 1rem 6rem 1rem 6rem;
	height: 4.5rem;
}
.logo {
	display: flex;
	flex-direction: row;
	width: 70%;
}
.logo img {
	width: auto;
	padding: 0;
}
.logo h2 {
	color: white;
	font-size: 2rem;
	margin: 0;
	padding: 1.25rem 2rem 1.25rem 2rem;
	font-family: 'Chewy', cursive;
	word-spacing: 0.1rem;
	letter-spacing: 0.1rem;
	font-weight: 800;
}
.caja {
	background-color: #f6bc60;
	border-radius: 2rem;
}

.main {
	padding: 3rem 6rem;
}
.pokemon {
	grid-area: pokemon;
	height: auto;
	width: auto;
}
.datos {
	grid-area: datos;
	height: auto;
	width: auto;
}
.fortalezas {
	grid-area: fortalezas;
	height: auto;
	width: auto;
}
.debilidades {
	grid-area: debilidades;
	height: auto;
	width: auto;
}
.stats {
	grid-area: stats;
	height: auto;
	width: auto;
}
#informacion {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 350px;
	row-gap: 20px;
	column-gap: 20px;
	align-self: center;
	text-align: center;
	grid-template-areas: 'pokemon datos';
}
#estadisticas {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: 160px 160px;
	row-gap: 20px;
	column-gap: 20px;
	align-self: center;
	text-align: center;
	grid-template-areas:
		'fortalezas stats'
		'debilidades stats';
}
